language: go

go:
  - 1.11.x
  - 1.12.x
  - master

script:
  - go test -run=Test* -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
